.sidebar{
    position: fixed;
    background-color: white;
    
    left:0;
    top:52px;
    bottom: 0;
    width: 80px;
    z-index: 200;
    padding-top:5px;
}

.sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    height: 74px; 
    cursor: pointer;   
}
.sidebar-link:hover{
    background-color: #eeeeee;
}
.sidebar-link img{
    height: 24px;
}
.sidebar-link div{
    font-family: Roboto, Arial;
    margin-top:5px;
    font-size:10px;

}